<div class="header"> 
    <div class="header-left">
        <div class="header-logo">
            <img src="assets/Frame.svg" alt="Логотип компании">
        </div>
        <nav class="header-nav">
            <div class="header-nav-item">Главная</div>
            <div class="header-nav-item">О компании</div>
            <div class="header-nav-item">Каталог</div>
        </nav>
    </div>
    <div class="header-right">
        <div class="header-Phone">
            <div>
                <img src="assets/Phone.svg" alt="телефон">
            </div>
            <div class="namber">
                +7 (965) 084-29-29
            </div>
        </div>
        <div class="favour">
            <img src="assets/heart 1.svg" alt="избранное"> 
        </div>       
        <button class="basket">
            <div>
                <img src="assets/Mask group.svg" alt="корзина">
            </div>
            <div>Пусто </div>
            
        </button>           
        
    </div>
</div>
<div class="menu">
    <div class="menu-left">
        <div> 
            <img src="assets/light.svg" alt="знак меню">
        </div>
        <div class="menu-left-punkt">Каталог</div>
        <div class="menu-left-punkt">Стройматериалы</div>
        <div class="menu-left-punkt">Инстументы</div>
        <div class="menu-left-punkt">Электрика</div>
        <div class="menu-left-punkt">Интерьер и одежда</div>

    </div>
    <div class="menu-right">
        <div>
            <input type="search">
            <img src="assets/Mask.svg" alt="знак поиска">
        </div>
        <div class="menu-right-plece">
            <img src="assets/map.svg" alt="место">
            Москва
        </div>

    </div>
</div>

